#background {
  background-color: #cccccc /*specifies the background of the whole page*/
}
#nav {
  /*made specifically for the navbar*/
  font-family: 'Raleway', bold;
  color: #4db6ac;
  font-size: 35;
}
#cardtitle {
  /*made for the title of the cards */
  font-family: 'Raleway', bold;
  color: #47b124;
  font-size: 20;
}
body{
  /*This has to exist because otherwise the formatting of the cards isn't right.*/
  padding-top: 145px; /*Has to be specified as pixels otherwise it doesn't work right. */
  padding-right: 1%; /* Use percentages rather than pixels so it adapts to whatever screen size you have. */
  padding-left: 1%;
}

.top-buffer { margin-top:1.5%; }

.card-body1	{
	height: 75%;
	margin: 25px 0px 25px 25px;
}
.nav-tabs > li > a:hover
{
    color: #FFFFFF;
    background: #4db6ac;
}

#nav:hover	{
	color: white;
	background: #4db6ac;
}

#navActive {
      color: #FFFFFF;
      background: #4db6ac;
      font-family: 'Raleway', bold;
      font-size: 35;
}

/*sets up the popup window*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #cccccc;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
